<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Platform>x64</Platform>
    <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>bin\Release\Publish</PublishDir>
    <!-- Publish Options -->
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>full</TrimMode>
    <TrimmerRemoveSymbols>true</TrimmerRemoveSymbols>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishAoT>false</PublishAoT>
    <RunAOTCompilation>false</RunAOTCompilation>
    <GitSkipCache>true</GitSkipCache>

    <!-- Compilation and Optimization -->
    <Optimize>true</Optimize>
    <Deterministic>true</Deterministic>
    <IlcOptimizationPreference>Speed</IlcOptimizationPreference>
    <IlcDisableReflection>false</IlcDisableReflection>
    <OptimizationPreference>Speed</OptimizationPreference>
    <CsWinRTAotOptimizerEnabled>true</CsWinRTAotOptimizerEnabled>
    <IlcDisableSingleFile>true</IlcDisableSingleFile>
    <UseWindowsThreadPool>true</UseWindowsThreadPool>

    <AutoreleasePoolSupport>false</AutoreleasePoolSupport>
    <EnableUnsafeBinaryFormatterSerialization>false</EnableUnsafeBinaryFormatterSerialization>
    <EnableUnsafeUTF7Encoding>false</EnableUnsafeUTF7Encoding>
    <EventSourceSupport>false</EventSourceSupport>
    <HttpActivityPropagationSupport>false</HttpActivityPropagationSupport>
    <UseSystemResourceKeys>true</UseSystemResourceKeys>
    <TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>
    <!-- 
    See https://github.com/microsoft/CsWinRT/issues/373
    <PublishTrimmed>True</PublishTrimmed>
    -->
  </PropertyGroup>
</Project>